@model P2_2020ML603_2020VR650.Models.Departamentos

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Departamento</h1>

<h3>¿Seguro que quieres borrar esto?</h3>
<div>
    <h4>Departamentos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_departamento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_departamento" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary mt-3" asp-action="Index">Regresa a la lista</a>
    </form>
</div>
