@model P2_2020ML603_2020VR650.Models.Departamentos

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de los Departamentos</h1>

<div>
    <h4>Departamentos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_departamento)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.id_departamento">Editar</a> |
    <a class="btn btn-danger mt-3" asp-action="Index">Regresa a la lista</a>
</div>
